singularity{
  enabled = true
}

process{
  beforeScript = "module purge; module load miniconda; conda activate nfcore"
  executor = 'slurm'
  clusterOptions = '--partition=day'
  submitRateLimit = '100/60min'
}

params{
  max_memory = 180.GB
  max_cpus = 36
  max_time = 1.d
}

conda{
  useMamba = true
}
